html,body{
	margin:0;
	padding: 0;
}

body{
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow";
	font-weight: bold;
	text-transform: uppercase;
	background: black url('../img/page-background.jpg') no-repeat 50% 0;
	overflow-y:scroll;
}

/* *
* Center layout
*/

.container {
	width: 940px;
	margin: 0 auto;
}

/* *
* Background of inner pages
*/

.inner-page{
	background: black url('../img/inner-background.jpg')repeat;
}

/* *
* Text styles
*/

h1{
	margin: 0;
	font-size: 2.14em;
	line-height: 1.4;
}


h2{
	margin:2em 0 1em 0;
	padding: 0;
	font-size: 1.7em;
	line-height: 1.25;
}

p{
	margin: 1.78em 0;
}

/* *
* Floated blocks classes
*/

.left{
	float:left;
}

.right{
	float:right;
}

.clearfix:after{
	content:"";
	display:table;
	clear:both;
}


input{	
    border:2px solid black;	
	margin-bottom: 20px;
	padding: 15px;
	color: black;
	background: transparent;
	text-transform: uppercase;
}

input[type=submit]{
	color: white;
	background: black;
	margin-bottom:0;
}


::-webkit-input-placeholder {color:black;font-family: "PT Sans Narrow";font-size: 14px;
	font-weight: bold;}
::-moz-placeholder          {color:black;font-family: "PT Sans Narrow";font-size: 14px;
	font-weight: bold;}/* Firefox 19+ */
:-moz-placeholder           {color:black;font-family: "PT Sans Narrow";font-size: 14px;
	font-weight: bold;}/* Firefox 18- */
:-ms-input-placeholder      {color:black;font-family: "PT Sans Narrow";font-size: 14px;
	font-weight: bold;}

/* *
* Login pop-up styles
*/

.login-popup{
	position: absolute;
	top: 130px;
	left: 50%;
	width: 270px;
	background: black url('../img/inner-background.jpg') repeat;
	padding: 50px 80px;
	margin-left: -215px;
	z-index: 100;
	display: none;
}

.login-popup-close{
  position: absolute;
  top: 0;
  right: -50px;
  z-index:100;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url("../img/close.png") no-repeat center;
  background-opacity: 0.5;
}

.login-popup-show{
	display: block;
}
/* form */

.login-popup-form input{
	width: 236px;
	margin-bottom:10px;
}

/* form field's icons */

.login-popup-form .login{
	background: url('../img/user.png') no-repeat 95% 50%;
}

.login-popup-form .password{
	background: url('../img/password.png') no-repeat 95% 50%;
}

/* enter button */

.login-popup-form input[type="submit"]{
	width: 100%;
	padding: 15px;
	margin: 10px 0;
}

/*forgot password */

.login-popup-form a{
	float: right;
	color:black;
}

/* "remember me" check-box */

.login-popup-form .remember{
	width: auto;
	vertical-align:middle;
	margin-right: 5px;
}


/*///////////////////////// 
         Header styles///// 
////////////////////////*/

header {
	color: white;
	background: black;
	font-size: 16px;
	border-bottom: 3px solid #242424;
}

header a:link,
header a:visited,
header a:hover,
header a:active{
	color: white;
}


.top-menu ul{
	float: left;
	width: 780px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.top-menu li{
	display: inline-block;
}

.top-menu li a{
	display: block;
	padding: 30px 23px;
	text-decoration: none;
}

.top-menu li a:hover{
	background: #242424;
}

/* underline active link*/

.top-menu li .active{
	box-shadow: 0 23px 0 -20px white;
}

.account-menu{
	float: right;
	max-width: 140px;
}

.account-menu a{
	display: block;
	position:relative;
	padding: 30px 0;
	padding-left: 35px;
	text-decoration: none;
}

/* account button style*/

.account-menu-enter:before{
	position: absolute;
	content:"";
	top: 33px;
	left: 0;
	width: 16px;
	height: 16px;
	background: url('../img/icon-enter.png') no-repeat 0 0;
}

.account-menu-enter-disabled:before{
	opacity: 0.3;
}

/*///////////////////////// 
         End header    ///// 
////////////////////////*/

/*///////////////////////// 
     Main page styles///// 
////////////////////////*/

.logo{
	display:block;
	margin: 0 auto;
	margin-top: 50px;
	padding:0;
	background: url('../img/logo.png') no-repeat 0 0;
	width:368px ; 
	height: 204px;
}

/* Features style*/

.features {
	margin:20px 0 35px 0;
	padding: 0;
	color: white;
	list-style: none;
}

.features li{
	float: left;
	width: 300px;
	margin-right: 20px;
	text-align: center;
}

.features li:last-child{
	margin-right: 0;
}

.features-title{
	position: relative;
	margin-bottom: 80px;
}

/* rombus after features title */

.features-title:after{
	position:absolute;
	content:'';
	width: 30px;
	height: 30px;
	bottom:-50px;
	left:50%;
	margin-left:-15px;
	background: url('../img/icon-rhombus.png') no-repeat 0 0;
}

/* Content blocks styles. Main page*/

.content{
	width: auto;
	margin-bottom: 35px;
	background: url('../img/item-separator.png') no-repeat 50% 50%,
					   url('../img/item-background.jpg');
	text-align: left;
	color: black;
}

.content:after{
	content:"";
	display:table;
	clear:both;
}

.content:last-child{
	margin-bottom: 50px;
}

.content-item{
	position: relative;
	width: 300px;
	min-height:330px;
}
.content-item-wrapper{
	min-height: 285px;	
	padding: 1px 0;
}

.content-item.left{
	padding: 45px 90px 55px 80px;
}

.content-item.right{
	padding: 45px 80px 55px 90px;
}

.content-item-title{
	margin-bottom: 30px;
}

.content-item p .date{
	font-family: "Georgia"; 
	font-weight: normal;
	text-transform: lowercase;
	
}

.content-item-gallery{
	width: 286px;
	height: 164px;
	border: 7px solid white;
	background: black url('../img/item-picture.jpg')
}

.button{
	display: block;
	padding: 10px 0;
	color: white;
	background: black;
	text-decoration: none;
	text-align: center;
}

.button:hover{
	color: black;
	background: white;
}

.half-width{
	width: 140px;
}

.full-width{
	width: 280px;
}

.content-item-login-form {
    width:300px;
    height:200px;
}

.content-item-login-form input{	
	width: 106px;
}

.content-item-login-form input[type=submit]{
	width: 300px;
}

/*////////////////////////// 
 End Main page styles///// 
//////////////////////////*/

/*////////////////////////// 
	          Price  styles///// 
//////////////////////////*/
.price-title{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.price-title h1{
	position:relative;
	display: inline;
	padding: 0 20px;
	margin: 0;
	font-size: 3.42em;
	line-height: 1;
	z-index: 2;
	background: black url('../img/inner-background.jpg')repeat;
}

.price-title:after{
	position:relative;
	content:"";
	display: block;
	border-bottom: 2px solid black;
	top:-1.7em;
	z-index: 1;
}

.price-advantages,
.price-costs, 
.about-item{
	width: 50%;
}	


.price-advantages ul{
	margin:0;
	padding:0;
	list-style: none;
}

.price-advantages li{	
	padding-left: 20px;
	margin-bottom: 10px;
	background: url('../img/list-mark.png') no-repeat 0 50%;
}

.price-costs-table{
	width: 100%;
}

.price-costs-table th{
	text-align: left;
}
.price-costs-table td{
	text-align: center;
}

.price-costs-table th,
.price-costs-table td {
	border: 2px solid black;
	width: 50%;
	padding: 0.5em 20px;
}

.about{
	margin-bottom: 70px;
}

.about-item p{
	margin-top: 0;
	padding-right: 80px;
}

/*////////////////////////// 
       End Price  styles///// 
//////////////////////////*/
/*////////////////////////// 
	          Shop  styles///// 
//////////////////////////*/
.shop-filter{
	float: left;
	width: 210px;
	height: 100%;
}

.shop-filter h2{
	margin-top: 0.3em;
}

.shop-filter form{
	margin-bottom: 40px;
}

.shop-filter label{
	margin 1em 0;
	padding-right: 1em;
}
.shop-filter input{
	margin-right: 1em;
}

.shop-filter .button{
	text-align:left;
	padding-left: 20px;
	margin: 10px 0;
}

.shop-filter .button:hover{
	background: white;
	color: black;
}

.shop-items-wrapper {
    float:right;
	width: 730px;
}
.shop-item{
    display: inline-block;
	width: 220px;
	margin: 10px;
	margin-right: 0;
	margin-left: 20px;
	background: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.shop-item img{
	display: block;
	width: 220px;
	height: 165px;
}
.shop-item-caption{
	padding: 15px;
}

.shop-item-caption p{
	margin: 0;
	margin-bottom:15px;
}
.shop-item .button{
	width: 100%;
	background: #e5e5e5;
	color: black;
}

.shop-item .button:hover{
	width: 100%;
	background: black;
	color: white;
}


/*////////////////////////// 
       End Shop  styles///// 
//////////////////////////*/
/*//////////////////////////
				Footer/////////
//////////////////////////*/

footer {
	background: url('../img/footer-background.jpg');
	color: white;
}

footer p{
	margin: 0;
	margin-bottom: 10px;
} 

.info{
	float: left;
	width: 300px;
	padding: 55px 0;
	
}

.copyright{
	float: right;
	position: relative;
	width: 300px;
	height: 72px;
	padding: 55px 0;
	margin-left: 20px;
	text-align: right;

}

.copyright p{
	margin-bottom: 10px;
	margin-right: 30px;
}



.social{
	float: left;
	width: 300px;
	height: 72px;
	padding: 55px 0;
	margin-left: 20px;
	text-align: center;
}
.social ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.social li{
	display: inline-block;
}

.social a{
	display: block;
	height: 43px;
	width: 43px;
	margin-right: 5px;
}

.social a:last-child{
	margin-right: 0px;
}

.social-vk{
	background: url('../img/icon-social-vk.png');
}
.social-fb{
	background: url('../img/icon-social-fb.png');
}
.social-insta{
	background: url('../img/icon-social-insta.png');
}

.social-vk:hover{
	background: url('../img/icon-social-vk-hover.png');
}
.social-fb:hover{
	background: url('../img/icon-social-fb-hover.png');
}
.social-insta:hover{
	background: url('../img/icon-social-insta-hover.png');
}

/*/////////////////////////////// 
		End footer styles
///////////////////////////////*/
